<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>It's cars page</title>
</head>
<body>


<table border="1">
    <thead>
    <tr>
        <th scope="col">Series</th>
        <th scope="col">Model</th>
    </tr>
    </thead>
    <tbody>
    <tr th:block th:each="car : ${carsList}">
        <td th:text="${car.getSeries()}"/>
        <td th:text="${car.getModel()}"/>
    </tr>
    </tbody>
</table>
</body>
</html>